In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Reference the file where the CSV is located
budget = "budget_data.csv"

In [3]:
budget

'budget_data.csv'

In [4]:
# Import the data into a Pandas DataFrame
budget_df = pd.read_csv(budget)

In [5]:
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
# Add up the total profit/loss
profit_loss = budget_df["Profit/Losses"].sum()
profit_loss

38382578

In [7]:
# Count the number of months
date = budget_df["Date"].value_counts()
total_months=date.sum()
total_months

86

In [8]:
# Aggregate the average profit
average_profit = budget_df["Profit/Losses"].mean()
average_profit

446309.0465116279

In [9]:
#Calculate greatest increase
greatest_increase = budget_df["Profit/Losses"].max()
greatest_increase

1170593

In [10]:
# Calculate greatest decrease
greatest_decrease = budget_df["Profit/Losses"].min()
greatest_decrease

-1196225

In [11]:
greatest_increase_month = budget_df["Date"].max()
greatest_increase_month

'Sep-2016'

In [12]:
summary_table = pd.Series({"Profit/Loss": [profit_loss],
                              "Total Months": [total_months],
                                "Average Profit" :[average_profit],      
                               "Greatest Increase": [greatest_increase],
                              "Greatest Decrease": [greatest_decrease]})
print("Finacial Analysis")
print("-------------")
summary_table

Finacial Analysis
-------------

Profit/Loss                   [38382578]
Total Months                        [86]
Average Profit       [446309.0465116279]
Greatest Increase              [1170593]
Greatest Decrease             [-1196225]
dtype: object

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
group_votes_df.to_csv("Output/fileOne.csv", index=False, header=True)