In [73]:
# Import Dependencies
import pandas as pd

In [74]:
# Reference the file where the CSV is located
election = "election_data.csv"

In [75]:
# Import the data into a Pandas DataFrame
df = pd.read_csv(election)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [76]:
#Count up the votes per candidate
vote_counts = df["Candidate"].value_counts()
vote_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [77]:
#group the votes by the candidate
grouped_votes_df = df.groupby(['Candidate']).count()

# In order to be visualized, a data function must be used...
grouped_votes_df.head()

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [78]:
#total votes
total_votes = df["Voter ID"].value_counts().sum()
total_votes

3521001

In [79]:
#find percent of total of each candidate
percent = vote_counts / total_votes
percent

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [80]:
grouped_votes_df["Percent"] = percent
grouped_votes_df.head()

           Voter ID   County  Percent
Candidate
Correy       704200   704200     0.20
Khan        2218231  2218231     0.63
Li           492940   492940     0.14
O'Tooley     105630   105630     0.03

In [81]:
grouped_votes_df["Votes"] = vote_counts
grouped_votes_df

           Voter ID   County  Percent    Votes
Candidate
Correy       704200   704200     0.20   704200
Khan        2218231  2218231     0.63  2218231
Li           492940   492940     0.14   492940
O'Tooley     105630   105630     0.03   105630

In [93]:
max_votes_df = vote_counts.max()
max_votes_df

2218231

In [97]:
winner = df.loc[0, "Candidate"]
winner

'Khan'

In [104]:
print("Election Results")
print("-------------")
print("Total Votes" +" " +str(total_votes))
print("-------------")
print("Winner: " + winner)
print("-------------")
print("Voter Breakdown")
grouped_votes_df

Election Results
-------------
Total Votes 3521001
-------------
Winner: Khan
-------------
Voter Breakdown

           Voter ID   County  Percent    Votes
Candidate
Correy       704200   704200     0.20   704200
Khan        2218231  2218231     0.63  2218231
Li           492940   492940     0.14   492940
O'Tooley     105630   105630     0.03   105630

In [107]:
# Export file as a CSV, without the Pandas index, but with the header
group_votes_df.to_csv("Output/fileOne.csv", index=False, header=True)

FileNotFoundError: [Errno 2] No such file or directory: 'Output/fileOne.csv'